@media (min-width: 768px) and (max-width: 1170px) {
  
  /*header*/

  .header {
    min-width: 768px;
  }

  .header__row {
    padding-right: 39px;
    padding-left: 39px;
  }

  /*hero*/

  .hero__row {
    padding-right: 39px;
    padding-left: 39px;
  }

  .hero__col_img {
    background-image: url("../img/hero__img_768.svg");
    background-position: center right;
    background-size: 330px 350.86px;
    margin-top: -30px;
    padding-right: 50px;
  }

  .hero__title {
    font-size: 50px;
    margin-bottom: 16px;
  }

  .hero__desc {
    width: 345px;
  }

  /*advantage*/

  /*teachers*/

  /*courses*/

  /*footer*/
}