@media (max-width: 575px) {

  body { 
    min-width: 300px;
  }
  
  .header {
    min-width: 300px;
  }

  .header__col_3 {
    display: none;
  }

  .header__col_2 {
    display: initial;
  }

  .header__burger {
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 3px;
  }

  .header__row {
    padding-top: 22px;
    padding-bottom: 38px;
    padding-right: 15px;
    padding-left: 15px;
    height: 20px;
  }

  .header__logo-link {
    width: 72px;
    height: 16px;
  }

  /*hero*/

  .hero {
    height: 326px;
    background-position: center top;
  }

  .hero__row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__title {
    padding-top: 35px;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 5px;
  }

  .hero__desc {
    font-size: 16px;
    line-height: 130%;
    width: 100%;
    margin-bottom: 45px;
  }

  .btn {
    font-size: 16px;
    line-height: 19px;
  }

  .hero__btn{
    margin-bottom: 60px;
    padding: 20.5px 53.5px;
  }

  /*advantage*/

  .advantage {
    margin-bottom: -3px;
    padding-bottom: 30px;
  }

  .advantage__row {
    padding-right: 15px;
    padding-left: 15px;
  }

  .advantage__top {
    background-image: none;
    background-size: 0;
    padding-left: 0;
  }

  .advantage__title {
    margin: 0;
    margin-top: 3px;
    margin-bottom: 1px;
    max-width: 98%;
    min-width: 290px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantage__desc {
    max-width: 95%;
    min-width: 290px;
  }

  .advantage__bg {
    background-position: left center;
    height: 100%;
  }

  .advantage__bottom:not(:last-child) {
    margin-bottom: 5px;
  }

  .advantage__bottom:last-child {
    margin-bottom: 22px;
  }

  .advantage__desc_bottom {
    margin-top: 4px;
  }

  /*teachers*/

  .teachers {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .teachers__row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .teachers__title {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .teachers__col {
    background-size: 289px 180px;
  }

  .teachers__col:not(:last-child) {
    margin-bottom: 24px;
  }

  .teachers__col_1 {
    background-image: url("../img/teacher1_320.png");
  }
  
  .teachers__col_2 {
    background-image: url("../img/teacher2_320.png");
  }
  
  .teachers__col_3 {
    background-image: url("../img/teacher3_320.png");
  }
  
  .teachers__col_4 {
    background-image: url("../img/teacher4_320.png");
  }

  .teachers__name {
    margin-bottom: 7px;
    margin-left: 1px;
  }

  .teachers__desc {
    margin-left: 0px;
  }

  /*courses*/

  .courses {
    padding-top: 46px;
    padding-bottom: 17px;
  }
  
  .courses__row {
    padding-left: 15px;
    padding-right: 15px;
  }

  .courses__title {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .couses__card {
    height: 413px;
    padding-top: 211px;
  }

  .couses__card_1 {
    background-image: url("../img/course1_320.svg");
  }
  
  .couses__card_2 {
    background-image: url("../img/course2_320.svg");
  }
  
  .couses__card_3 {
    background-image: url("../img/course3_320.svg");
  }
  
  .couses__card_4 {
    background-image: url("../img/course4_320.svg");
  }

  .courses__title-course {
    margin-left: -1px;
    width: 194px;
    line-height: 130%;
  }

  .courses__desc {
    margin-left: -1px;
    width: 230px;
    line-height: 150.5%;
  }

  .courses__btn {
    width: 195px;
  }

  /*footer*/

}

@media (min-width: 500px) and (max-width: 575px) {
  .couses__card {
    padding-top: 360px;
  }
}

@media (min-width: 420px) and (max-width: 499px) {
  .couses__card {
    padding-top: 300px;
  }
}

@media (min-width: 321px) and (max-width: 419px) {
  .couses__card {
    padding-top: 260px;
  }
}